:root {
	--pColor: #ffffff;
	--hColor: #ffffff;
	--bkColor: #447F75;
	--contrastColor: #00C9AA;
}

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
	color: #BCA79C;
}

body {
	background-color: var(--bkColor);
	display: flex;
	flex-direction: column;
	font-family: "Courier New", Courier, monospace;
}

p,
a {
	font-weight: 300;
	font-size: 1rem;
	text-decoration: none;
}

p {
	color: var(--pColor);
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
	color: var(--hColor);
}

header,
ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

header {
	padding: 0 5vw 0 5vw;
	margin: auto;
	height: 7.5vh;
	background-color: #447F75;
}

li {
	padding: 0 1em;
}

nav {
    margin-left: auto;
}

.nav a {
	margin-right: 1em;
	padding: 0.5em;
	transition: 200ms ease-in;
	border-radius: 50px;
	color: #ffffff;
}

.nav a:active,
.nav a:hover,
.nav a:focus,
.nav a:valid {
	color: #00C9AA;
}

main section {
	width: 50vw;
}

main {
	background: url("./imgs/annie-spratt-QckxruozjRg-unsplash_2.jpg") no-repeat
		center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 1;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

main a {
	background: var(--contrastColor);
	padding: 1em;
	display: inline-block;
	margin-top: 1em;
	border-radius: 50px;
	color: #fff;
	font-weight: 900;
	font-size: 1.25rem;
	transition: ease-in 250ms;
}

main a:hover {
	background: #fff;
	color: #00C9AA;
}

main p {
	background: #54433A;
	padding: 1em;
	border-radius: 50px;
}

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: #54433A;
	justify-content: center;
}

#about img {
	width: 90vw;
	height: 55vh;
}

#about > div {
	width: 40vw;
	margin-top: 10em;
}

.grids-parent {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: auto;
	margin: auto;
	padding: 2em;
}

.grids {
	padding: 2em;
	text-align: left;
}

.apps > p {
	font-size: 1.5rem;
}

#about h2 {
	font-size: 3rem;
}

.grids p {
	font-size: 1.25rem;
}

#about h3 {
	font-size: 2.5rem;
}

.app .grids-parent {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.app {
	background: url("./imgs/marvin-meyer-SYTO3xs06fU-unsplash_2.jpg") no-repeat
		center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: fit-content;
	padding: 2em;
	display: flex;
	flex-direction: column;
	margin-top: 5em;
}

.app p {
	color: #ffffff;
}

.app > .grids-parent {
	background-color: rgba(84,67,58, .5);
}

.app h2 {
	background-color: rgba(84,67,58, .9);
	align-self: center;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 80px;
}

#features {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #447F75;
	text-align: center;
}

#features > div {
	width: 65vw;
	padding: 10em 5em;
}

#features > div p {
	font-size: 1.5rem;
}

#features h2 {
	font-size: 3rem;
}

#features .grids p {
	font-size: 1.25rem;
}

#features h3 {
	font-size: 2.5rem;
}

#features .grids-parent {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.testimonials {
	margin-top: 4em;
	border-top: 2px solid #fff;
	width: 80vw;
	padding: 2em;
}

.testimonials .grids-parent {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#pricing {
	background: #54433A;
	display: flex;
	flex-direction: column;
}

#pricing .grids-parent {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	padding: 2em 4em;
}

#pricing > section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 70vw;
	margin: auto;
	padding-bottom: 10em;
	padding-top: 5em;
}

#pricing > section p {
	font-size: 1.5rem;
}

#pricing h2 {
	font-size: 3rem;
}

#pricing .grids li {
	font-size: 1.25rem;
	color: var(--pColor);
	padding-left: 0;
}

#pricing .grids {
	padding: 3em;
}

#pricing h3 {
	font-size: 2.5rem;
}

#pricing .grids span {
	font-size: 1rem;
}

#pricing ul {
	padding: 0;
	list-style-type: disc;
}

#pricing .grids-parent .grids:nth-child(2) {
	background: #00C9AA;
	border-radius: 50px;
}

#pricing a {
	display: inline-block;
	margin-top: 2em;
	background: #ffffff;
	padding: 1em;
	border-radius: 50px;
	align-self: center;
	color: #00C9AA;
	font-weight: 900;
}

footer > div:first-child {
	display: flex;
    flex-wrap: wrap;
    padding: 10rem 0;
    font-size: 2rem;
    justify-content: space-around;
}

footer > div:first-child span {
    font-size: 1.125rem;
}

footer form {
    display: flex;
    margin-top:auto;
}

footer form input:first-child {
	flex-grow: 2;
	border: none;
	padding: 1.5em;
	width: 20vw;
	background: #54433a;
    color: #fff;
    height: 10vh;
}

footer form input:first-child:focus {
	outline: none;
}

footer form input[type="button"] {
	background: #ffffff;
	border: none;
	color: #00C9AA;
    font-weight: 700;
    height: 10vh;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ft-2 {
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#line {
    border-top: 2px solid #BCA79C;
    width: 50vw;
    margin-bottom: auto;
}

.ft-2 #div1 {
    width: 40vw;
    margin-right: 7.5em;
}

.ft-2 div:first-child h2 {
    padding-bottom: 1em;
}

.menu {
    display: none;
	margin-left: auto;
}

.menu-i {
    display: block;
    background: #fff;
    width: 30px;
    height: 5px;
    margin: 5px;
	border-radius: 15px;
}

.overlay {
	background-color: #447F75;
	width: 100vw;
	text-align: center;
	display: flex;
	justify-content: center;
	height: 90vh;
	position: fixed;
	transition: 500ms ease-in;
	transform: translateX(-100%);
}

.overlay ul {
	flex-direction: column;
	justify-content: space-between;
	margin: 7em auto;
	align-items: baseline;
}

.hide-mobile {
	transform: translateX(0);
}

#exit {
	width: 30px;
	margin-bottom: auto;
}

@media only screen and (max-width: 768px) {
    
    
    nav {
        display: none;
    }
    
    .menu {
        display: inline-block;
    }

	.menu:hover {
		cursor: pointer;
	}

	#exit:hover {
		cursor: pointer;
	}

	.overlay li a {
		font-weight: 500;
		font-size: 2rem;
	}

    .grids-parent {
		padding: 0;
	}

	#about h3 {
		font-size: 1.25rem;
	}

	#about p {
		font-size: 0.75rem;
	}

	#about h2 {
		font-size: 2.5rem;
		border-radius: 20px;
	}
	
	main section {
		width: 100%;
		margin: 0 2em;
		padding: 0 2em;
	}

	main p {
		border-radius: 20px;
	}

	#about > div {
		width: 100%;
		margin: 5em;
		padding: 0 2em;
	}
	
	#features > div {
		width: 100%;
		padding: 5em 2em;
	}

	.testimonials {
		width: 100%;
		border: none;
	}

	#pricing .grids-parent {
		padding: 2em;
	}
}

@media screen and (min-width:321px) {
	.overlay {
		right: 0px;
	}
}